@font-face {
    font-family: "proxima-thin";
    src: url("../font/proxima/Thin.eot?#iefix") format("embedded-opentype"),
    url("../font/proxima/Thin.woff") format("woff"),
    url("../font/proxima/Thin.ttf") format("truetype"),
    url("../font/proxima/Thin.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "proxima-semibold";
    src: url("../font/proxima/Semibold.eot?#iefix") format("embedded-opentype"),
    url("../font/proxima/Semibold.woff") format("woff"),
    url("../font/proxima/Semibold.ttf") format("truetype"),
    url("../font/proxima/Semibold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "proxima-regular";
    src: url("../font/proxima/Regular.eot?#iefix") format("embedded-opentype"),
    url("../font/proxima/Regular.woff") format("woff"),
    url("../font/proxima/Regular.ttf") format("truetype"),
    url("../font/proxima/Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
.no-margin{
    margin-bottom: 0!important;
}
body {
    margin: 0;
    background: black;
    -webkit-font-smoothing: antialiased;
}




@media only screen and (min-width: 601px){
    .shared-by{
        min-width: 26rem;
    }
}

@media only screen and (min-width: 993px){
    .shared-by{
        min-width: inherit;
    }
}

.bg-filter {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 105%;
    min-height: 105%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
    opacity: .8;

    background: url("../a/filtre.png") no-repeat center center;
    background-size: cover;
}
#video-container{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    margin: 0 !important;
    z-index: -100;
}
.video-wrapper{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    height: 100% !important;
    top: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    z-index: -90;
}

video{
    position: relative;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}
.stopfade {
    opacity: .0;
}
#head{
    margin-top: 5.4rem;

    opacity: 0;
    transform: translateX(-5rem);
    -webkit-transform: translateX(-5rem);
    -ms-transform: translateX(-5rem);

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#head.active{
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

#logo{
    width: 7.5rem;
}
h1{
    font-family: "proxima-thin", serif;
    color: white;
    font-size: 2.5rem;
    font-weight: lighter;
}
h1 span{
    font-family: "proxima-semibold", serif;
    font-weight: bolder;
    color: #FFD100;
}
#screen {
    font-weight:100;
    margin: 5.75rem .75rem 5.75rem 5.75rem;
    float: right;
    opacity: 0;
    transform: translateY(-5rem);
    -ms-transform: translateY(-5rem);
    -webkit-transform: translateY(-5rem);

    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;

    padding:0;
    -webkit-box-shadow:-5px 5px 20px -2px rgba(0,0,0,0.5);
    -moz-box-shadow:-5px 5px 20px -2px rgba(0,0,0,0.5);
    box-shadow:-5px 5px 20px -2px rgba(0,0,0,0.5);
}
#screen.active{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1;
}
#menu{
    padding: 0;
    margin-top: 2rem;
    margin-right: .5rem;
    float: right !important;
}
#menu li{
    float: right;
    margin-left: 1.5rem;
    font-size: .94rem;
}
#menu li a {
    font-family: "proxima-regular", serif;
    color: #ffffff;
}
.download{
    display: inline;
    height: 3rem;
    margin-right: .75rem;

    border-radius: .7rem;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.download:hover{
    box-shadow: 0 3px 12px 0 rgba(0,0,0,0.2),0 6px 7px 0 rgba(0,0,0,0.10);
    -webkit-transform: scale(1.005);
    -moz-transform: scale(1.005);
    -ms-transform: scale(1.005);
    -o-transform: scale(1.005);
    transform: scale(1.005);
}
.shared-by{
    margin-top: 5rem;
    background-color: rgba(0,0,0,0.1);
    width: auto;
    height: 5.5rem;
    border-radius: 4rem;
    box-sizing: border-box;
    color: #FFFFFF;
    float: left;

    opacity: 0;
    transform: translateX(-5rem);
    -webkit-transform: translateX(-5rem);
    -ms-transform: translateX(-5rem);

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.shared-by.active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
}
.shared-by.inactive {
    opacity: 0;
    transform: translateX(+5rem);
    -webkit-transform: translateX(+5rem);
    -ms-transform: translateX(+5rem);
}
.shared-by img{
    box-sizing: border-box;
    margin-top: .6rem;
    margin-left: .6rem;
    height: 4.3rem;
    border-radius: 4.5rem;
    border: solid 1px #ffffff;
    float: left;
}
h3{
    padding: 0;
    margin: 0 0 0 1rem;
    line-height: 1rem;
}

.shared-by h3{
    margin-top: 1rem;
    float: left;
    margin-right: 2rem;
}
.shared-by h3 a{
    font-family: "proxima-thin", serif;
    font-size: 1.27rem;
    color: #FFFFFF;
}
a.info{
    font-family: "proxima-regular", serif !important;
}
a.info span{
    color:#FFD100;
}

@media only screen and (max-width: 601px){
    #head{
        margin-top: 1rem !important;
        text-align: center;
    }
    #head,#head.active,#screen, #screen.active, .shared-by, .shared-by.active{
        opacity: 1;
        transform: none;
        -webkit-transform:  none;
        -ms-transform: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    h1{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    h1 span{
        font-size: 1.75rem;
    }

    #logo{
        width: 5rem;
    }

    .shared-by{
        text-align: left;
        margin-top: 2.5rem;
        width: 100% !important;
    }
    .shared-by h3{
        line-height: .75rem;
    }
    .shared-by h3 a{
        font-size: 1rem;
    }
    .download{
        display: inline;
        width: 39%;
        height: auto;
        margin-right: 1%;
        margin-left: 1%;
    }
    #screen{
        margin: 5.75rem 0 0;
    }
}